*{
    margin: 0;
    padding: 0;
}

.header-top {
    background-color: #303038;
    color: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
}

ul {
    list-style: none;
    
}
ul li {
    display: inline;
}

.header-location{
    float: left;
}

.header-social{
    float: right;
}